<div id="headerwrap" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" >
                
                   <!-- <h3>Virtual Event Registration now open!</h3> -->
                <img src="{{ "/assets/img/HPCintheCityDallasemailheader-trs.png" | prepend: site.baseurl }}">
        
           
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!--
                <img src="{{ "/assets/img/logos/2022_hack_logoV03.jpg" | prepend: site.baseurl }}" class="img-responsive">
                -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->