<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Registration now open!</h3>
                <img src="{{ "/assets/img/HPCintheCityDallas-email-header.png" | prepend: site.baseurl }}">
                <h4><em>(Virtual Event)</em> November 3rd - 7th, 2022 </h4>
                <h5>This site serves as the primary information source for the HPC in the City: Dallas Hackathon to be held prior the SC22 Conference. </h5>	
                
                
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!--
                <img src="{{ "/assets/img/logos/2022_hack_logoV03.jpg" | prepend: site.baseurl }}" class="img-responsive">
                -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->