<div id="service">
  
   
    <div class="container mtb">
            
    
            <table style="width: 100%;">
                <tr style="border-top: solid lightgrey 2px; border-bottom: solid lightgrey 2px;">
            {% for team in site.data.sessions.teams %}
               <td style="text-align: center;"> <h4><a href="{{ site.baseurl }}/teams/#{{ team.teamname }}">[ {{ team.teamname }} ] </a></h4></td>
            {% endfor %}
            
        </tr>
        </table>
      
         {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
     
            <table>
            {% for team in site.data.sessions.teams %}
            <tr>
                <td>
                <h1 id="{{ team.teamname }}">{{ team.teamname }}</h1>
                </td>
                <td>
                    <!--
                {% for school in team.schools %}    
                <a href="{{ school.url }}" target="_blank"><img src="{{ school.logo | prepend: site.baseurl }}" alt="{{ school.name }}" width="200px" style="float:right;"></a>
                &nbsp;&nbsp;
                {% endfor %}
                    -->
                    {% if team.teamawards %}
                    <table>
                        <tr>
                    {% for award in team.teamawards %} 
                        <td style="text-align: center;"><h3 style="color: #fea500">&#127942; {{ award }}</h3></td>
                    {% endfor %}
                        </tr>
                    </table>
            
                {% endif %}

                
                </td>
                
            </tr>
            <tr style="border-bottom: 2px solid black;">
                <td style="width: 40%; ">
                        
                            <h3>Mentors:</h3>
                            {% for mentor in team.mentor %}
                                {% for ment in site.data.sessions.mentors %} 
                                    {% if ment.name == mentor %}
                                    <b>{{ ment.role }}: </b> {{ ment.name}}
                                    {% if ment.social %}
                                    [ {% for entry in ment.social %}
                                    <a href="{{ entry.url }}"><i class="fa fa-{{ entry.title }}" style="font-size: 14px; padding: 2px; margin: 0px;"></i></a>
                                    {% endfor %} ] <br>
                                    {% endif %}
                                       <a href="{{ ment.url }}" target="_blank"><em>{{ ment.position }}</em></a>
                                    {% endif %}
                                {% endfor %}
                                {% for ment in site.members %}
                                    {% if ment.name == team.mentor %}
                                    [ {% for entry in ment.social %}
                                    <a href="{{ entry.url }}"><i class="fa fa-{{ entry.title }}" style="font-size: 14px; padding: 2px; margin: 0px;"></i></a>
                                    {% endfor %} ] <br>
                                     <a href="{{ ment.url }}" target="_blank"><em>{{ ment.position }}</em></a>
                                    {% endif %}
                                {% endfor %}
                            <br> 
                            {% endfor %}
                            <br>
                            <b>Hackers:</b><br>
                            <ul>
                                {% for member in team.members %}
                                <li>{{ member.name }} - {% if member.social %}[<a href="{{ member.social }}"><i class="fa fa-{{ member.icon }}" style="font-size: 14px; padding: 2px; margin: 0px;"></i></a>] {% endif %}
                                    {% if member.school %} <a href="{{member.schoolurl}}" target="_blank">{{ member.school }}</a> {% endif %} {% if member.major %}<em>[{{ member.major }}]</em>{% endif%}
                                
                                </li>
                                {% endfor %}
                            </ul>
                            <br>

                            <h3>Goals:</h3>
                            {% for sessiongoals in team.goals %}
                                <ul>
                                    <li><b>{{ sessiongoals.sessionname }}</b>
                                        <ul>
                                            {% for goal in sessiongoals.goals%}
                                            <li>
                                                {{ goal }}
                                            </li>
                                            {% endfor %}
                                        </ul>


                                    </li>

                                </ul>
                            {% else %}
                                <em>In Progress</em>
                            {% endfor %}

                            <h3>Links:</h3>
                            <ul>
                                {% if team.themesongname %}
                                <li><i class="fa fa-music" style="color: black; font-size: 14px; padding: 2px; margin: 0px;"></i>  Theme Song: <a href="{{ team.themesongurl }}">{{ team.themesongname }}</a></li> 
                                {% endif %} 
                                
                                {% if team.youtube %}
                  
                                    {% for vid in team.youtube %}
                                    <li><i class="fa fa-youtube" style="color: red; font-size: 14px; padding: 2px; margin: 0px;"></i><a href="{{ vid.link }}" target="_blank"> {{ vid.name }} </a></li>
                                    {% endfor %}
            
                                {% endif %}

                                {% if team.files %}
                                    {% for file in team.files %}
                                    <li><i class="fa fa-file" style="color: black; font-size: 14px; padding: 2px; margin: 0px;"></i>{{ file.filename }}: <a href="{{ file.filelink | prepend: site.baseurl }}">[{{ file.filetype }}]</a></li> 
                                    {% endfor %}
                                {% endif %}
                                
                                {% if team.github %}
                                <li><i class="fa fa-github" style="color:black; font-size: 14px; padding: 2px; margin: 0px;"></i> Github Repository: <a href="{{ team.github }}">[Link] </a></li> 
                                {% endif %}

                            </ul>


                           


                        </td>
                        <td >
                            
                            <br>
                       
                            {% if team.teamintroimg %}
                                <a href="{{ team.teamintropdf | prepend: site.baseurl }}"><img src="{{ team.teamintroimg | prepend:site.baseurl }}"></a>
                                <br>
                                {% endif %}
                            {% if team.images %}
                            {% for img in team.images %}
                            <br>
                                <img src="{{ img.image | prepend:site.baseurl }}"></a>
                            {% endfor %}
                            {% endif %}
                           

                        </td>
            </tr>
            {% endfor %}
        </table>


    
 </div>
 </div>



