<div id="service">

    <div class="container mtb">
    
           
                <h3>Event Sessions</h3>
                    <ul class="list-group">
                {% for session in site.data.sessions.sessions %}
                <li class="list-group-item"><mark>{% if session.date %}
                     <strong>   {{ session.date }} </strong>
                    {% endif %}
                    {% if session.time %}
                    <strong> @ {{ session.time }} </strong>- 
                    {% endif %} 
                    <strong>{{ session.name }} </strong> 
                </mark>
                    {% if session.duration %}
                        (<em>{{ session.duration }}</em>)
                    {% endif %}
                
                    {% if session.type %}
                        [{{ session.type }}]
                    {% endif %}
                    {% if session.icsfile %}
                    
                    &nbsp;&nbsp;&nbsp; <a href="{{ session.icsfile | prepend: site.baseurl }}"><i class="fa fa-calendar" style="font-size: 14px; padding: 2px; margin: 0px;"></i> [Add to Calendar]</a>
                    {% endif %}
                    <br>
                    {% if session.presenter %}
                        <u>Presenter:</u> <em><strong>{{ session.presenter }}</strong></em>
                            {% for presenter in site.data.sessions.presenters %}
                                {% if session.presenter == presenter.name %}
                                    [
                                    {% for entry in presenter.social %}
                                    <a href="{{ entry.url }}"><i class="fa fa-{{ entry.title }}" style="font-size: 14px; padding: 2px; margin: 0px;"></i></a>
                                    {% endfor %} 
                                    ]
                                    {% if presenter.position %} 
                                    - <em> 
                                        {% if presenter.title %}
                                            {{ presenter.title }}
                                        {% endif %}
                                    |<a href="{{ presenter.url }}" target="_blank"> {{ presenter.position }} </a>
                                    </em>
                                    {% endif %}
                                    
                                {% endif %}
                            {% endfor %}
                            {% for presenter in site.members %}
                                {% if session.presenter == presenter.name %}
                                    [
                                    {% for entry in presenter.social %}
                                    <a href="{{ entry.url }}"><i class="fa fa-{{ entry.title }}" style="font-size: 14px; padding: 2px; margin: 0px;"></i></a>
                                    {% endfor %} 
                                    ]
                                    {% if presenter.position %} 
                                    - <em> 
                                        {% if presenter.title %}
                                            {{ presenter.title }}
                                        {% endif %}
                                    |<a href="{{ presenter.url }}" target="_blank"> {{ presenter.position }} </a>
                                    </em>
                                    {% endif %}
                                    
                                {% endif %}
                            {% endfor %} 
                            {% for presenter in site.data.sessions.mentors %}
                                {% if session.presenter == presenter.name %}
                                    [
                                    {% for entry in presenter.social %}
                                    <a href="{{ entry.url }}"><i class="fa fa-{{ entry.title }}" style="font-size: 14px; padding: 2px; margin: 0px;"></i></a>
                                    {% endfor %} 
                                    ]
                                    {% if presenter.position %} 
                                    - <em> 
                                        {% if presenter.title %}
                                            {{ presenter.title }}
                                        {% endif %}
                                    |<a href="{{ presenter.url }}" target="_blank"> {{ presenter.position }} </a>
                                    </em>
                                    {% endif %}
                                    
                                {% endif %}
                            {% endfor %} 
    
                    {% endif %}
                    <br>
                    {% if session.zoomlink %}
                    <strong>Zoom</strong> <i class="fa fa-video" style="font-size: 14px; padding: 2px; margin: 0px;"></i>: <a href="{{ session.zoomlink }}"> [Meeting Link]</a>
                    {% endif %}
                    {% if session.zoominfo %}
                    {{ session.zoominfo }} 
                    {% endif %}
                    {% if session.description %}
                        <p>[Description/Topics]<br>
                            {{ session.description }}
                        </p>
                    {% endif %}
    
                    {% if session.youtube %}
                    <p> <b>Video Link:</b>
                        {% for vid in session.youtube %}
                        <a href="{{ vid.link }}" target="_blank">[ <i class="fa fa-youtube" style="font-size: 14px; padding: 2px; margin: 0px;"></i> {{ vid.name }} ]</a>
                        {% endfor %}
                    </p>
    
                    {% endif %}
               
                   
                    
                    
    
                    {% if session.files %}
                     File(s): 
                        {% for file in session.files %}
    
                            <a href="{{ file.location | prepend: site.baseurl }}">[ {{ file.filename }} ]</a>
                        {% endfor %}
                    {% endif %}
                    {% if session.url %}
                    <br>
                        <em>Resource Links: </em>
                        {% for url in session.url %}
     
                            <a href="{{ url.url }}">[ {{ url.name }} ]</a>
                        {% endfor %}
                        
                    {% endif %}
    
                    
                    <br>
               </li>
                {% endfor %}
                   </ul>
    
    
    </div><! --/container -->
    </div>